<ion-header>
    <ion-navbar color="primary">
      <ion-title>{{ title }}</ion-title>
    </ion-navbar>
  </ion-header>

<ion-content>
<div class="content">
  <div class="card-report">
    <div class="card-report-content">

        <ion-item>
          <ion-label>Modelo</ion-label>
          <ion-select cancelText="Cancelar" >
            <ion-option *ngFor="let equipamento of equipamentos" [value]="equipamento">
              {{ equipamento.modelo }}
            </ion-option>
          </ion-select>
        </ion-item>


        <ion-item>
          <ion-label fixed>N. Serie</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Situação</ion-label>
          <ion-select cancelText="Cancelar" >
            <ion-option *ngFor="let situacao of situacoesEquipamento" [value]="situacao">
              {{ situacao }}
            </ion-option>
          </ion-select>
        </ion-item>

      <div class="list-check mt-2">
        <div class="check" *ngFor="let itemName of situacoesEquipamento">
          <ion-item no-lines>
            <ion-checkbox color="primary"></ion-checkbox>
            <ion-label>{{ itemName }}</ion-label>
          </ion-item>
        </div>
        </div>

    </div>
  </div>
</div>
</ion-content>
