header-component {
  .header {
    background: #074C8B;
    height: 60px;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
  }
}
