page-retirar {

  font-family: Arial, Helvetica, sans-serif;
  background: #f3f3f3;
  color: #313B3E;

  ion-content {
    background: transparent !important;
    height: 100vh !important;
  }

  .gallery {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
  }

  .photo-gallery {
    width: 45%;
    height: auto;
    margin: 4px auto;
    background-size: cover;
  }


  .button-action {
    margin: 16px auto;
    text-align: center;
  }



}
