<div class="card-main" (click)="goToDetailAtividade(1)">
    <div class="card-header">
      <div class="card-header-title">
        <h5>Atividade</h5>
        <span class="icon-nav"> Detalhes <ion-icon name="arrow-forward"></ion-icon>
        </span>
      </div>
      <p class="sub-title bb">
        {{ atividade?.tipo | uppercase }}
      </p>
    </div>
    <div class="card-content {{atividade.status }} === 'pendente' ? pendente : {{ atividade.status }}"><strong>Situação {{ status }}</strong></div>
  </div>
