card-atividade-component {
  font-family: Arial, Helvetica, sans-serif;
  color: #313B3E;
  .card-main {
    padding: 16px;
    background: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
  }

  .card-header h5, .card-header p, .card-content h6, .card-content p {
    margin: 0;
    padding: 3px;
  }

  .card-main:hover {
    background: rgba(0, 0, 0, 0.01) !important;
  }

  .sub-title {
    color: rgb(131, 131, 131);
    word-break: inherit;
  }

  .bt {
    border-top: 1px solid #e1e1e1;
  }

  .bb {
    border-bottom: 1px solid #e1e1e1;
  }

  .card-content {
    padding: 10px;
    color: #313B3E;
  }

  .card-content h6 {
    color: rgb(102, 102, 102);
  }

  .card-header-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .icon-nav {
    color: #4788C5;
    font-weight: 800;
  }

  .pendente {
    color: rgb(207, 11, 37);
  }
}
